h1 {
    font-family: 'arial';
}

#blue {
    color: white;
    background-color: #5050C8;
    border-radius: 4px;
    border-color: #5050C8;
}

#red {
    color: white;
    background-color: #E32825;
    border-radius: 4px;
    border-color: #E32825;
    position: relative;
    top: -2px;
}

label {
    font-family: 'arial';
    font-size: 15px;
}

#fname {
    background-color:#EBECEE;
    border-color:#EBECEE;
}

